<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>940153251822-d02g3e23o5sfk68bqtmur5d8jj1o2cad.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.940153251822-d02g3e23o5sfk68bqtmur5d8jj1o2cad</string>
	<key>API_KEY</key>
	<string>AIzaSyDwqBrhnOpHKAfkhNtsGzLwPpIPuAZaOW0</string>
	<key>GCM_SENDER_ID</key>
	<string>940153251822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.InsideBus</string>
	<key>PROJECT_ID</key>
	<string>counthem-e7ce1</string>
	<key>STORAGE_BUCKET</key>
	<string>counthem-e7ce1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940153251822:ios:852ba6e565e29dcb3bd0ff</string>
</dict>
</plist>